<% content_for :title do -%>
  User profile
<% end -%>

<h1>Enter your new password</h1>
<% form_tag(:action => 'change_user_password') do -%>

<p><label for="user_user_password">Password</label><br/>
<%= password_field 'user', 'user_password'  %></p>

<p><label for="user_password_confirmation">Confirm</label><br/>
<%= password_field 'user', 'user_password_confirmation'  %></p>

<p><%= submit_tag 'OK', :class => "button" %></p>

<% end -%>

