public/javascripts/less_routes.js
tmp/pids
test/reports/
public/javascripts/all.js
public/javascripts/jquery_all.js
public/stylesheets/all.css
/tags
nbproject
build/bananascrum.war
build/config.yml
build/database.yml
build/README
build/README.pdf
doc/_build
doc/deployment.pdf
build/livesync/livesync.jar
BananaScrum-*.*.tar.gz
bananascrum.war
