<% form_for(comment, :url => project_item_comments_url(@current_project, comment.item), :html => { :class => 'new-comment no-default-binding' }) do |f| %>
  <% round_box('#E8EEEF') do %>
    <%= f.error_messages %>
    <p><label class="links-in-window">Comment this item</label><br/>
    <%= f.text_area(:text) %></p>
    <p><%= submit_button('Post comment', :class=> "button button-medium") %></p>
  <%- end %>
<% end %>
