<div class='field-name'><%= field[:name].capitalize -%>:</div>
<div class='field-value <%=field[:name]-%>'><%= present_field_value(field[:name], field[:value]) -%></div>
<div style="clear: both"> </div>
