

table.jCalendar {
  border-collapse: separate;
  border-spacing: 2px;
  margin-left: 4px;
}
table.jCalendar th {
  color: #fff;
  font-weight: bold;
  height: 18px;
  height: 11px\9;
  padding: 3px 5px;
  overflow: hidden;
  text-indent: -400px;
}
table.jCalendar td {
  color: #000;
  text-align: center;
  height: 14px;
  padding:5px 2px 1px 1px;
  padding: 3px 3px 0px 1px\9; /*  IE HACK  */
  *padding-top: 4px; /* IE 7 HACK */
  text-align:center;
  width:20px;
}
table.jCalendar td.other-month {
  color: #aaa;
}
table.jCalendar td.selected {
  background: white;
  border: 2px solid #5F832D;
}
table.jCalendar td:hover, table.jCalendar td.dp-hover {
  color: #000;
}
table.jCalendar td.disabled, table.jCalendar td.disabled:hover {
  color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

a.dp-choose-date {
  background: transparent url(../images/mud/csg-4bd04681aff0b.png) no-repeat;
  background-position: 0 -269px;
  display: inline-block;
  text-indent: -2000px;
  line-height: 16px;
  height: 16px;
  margin: -2px 3px 0;
  vertical-align: middle;
  overflow: hidden;
  padding: 0;
  width: 16px;
}

div.dp-popup {
  position: relative;
  background: url(../images/mud/csg-4bd04681aff0b.png);
  background-position: 0 -284px;
  width: 173px;
  font-size: 10px;
  font-family: arial, sans-serif;
  padding: 3px;
  line-height: 1.2em;
}
div#dp-popup {
  position: absolute;
  z-index: 350;
}
div.dp-popup h2 {
  font-size: 11px;
  color: #5D5D55;
  text-align: center;
  margin: 2px 0;
  padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
	color: white;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}