<div class="redcloth-legend">
  <b>Textile markup syntax:</b>
  <ul>
    <li>
      <span>*text*</span> <strong>bold</strong>
    </li>
    <li>
      <span>_text_</span> <i>italic</i>
    </li>
    <li>
      <span>+text+</span> <u>underline</u>
    </li>
    <li>
      <span>*</span> <span>list item</span>
    </li>
    <li>
      <span>#</span> <span>enumeration</span>
    </li>
  </ul><a href="<%= AppConfig.remote_urls[:redcloth] -%>" rel="external">more</a>
</div>