<div class="single-pixel" style="top:0;left:0;background-color:<%= color %>;"></div><div class="single-pixel" style="top:0;right:0;background-color: <%= color %>;"></div>
<div class="single-pixel" style="bottom:0;left:0;background-color: <%= color %>;"></div><div class="single-pixel" style="bottom:0;right:0;background-color: <%= color %>;"></div>

