<span id="sprint-tasks-tab">Tasks: </span>
<span><span id="sprint-tasks-count" class="tasks-count"></span> (<span id="sprint-tasks-effort" class="tasks-effort"></span> <%= h Project.current.task_unit %>)</span>
<span> Items: </span>
<span> <span id="sprint-items-total-count" class="items-total-count"></span> (<span id="sprint-items-effort" class="items-effort"></span> <%= h Project.current.backlog_unit %>)</span><br/>
