Total: 
<span id="sprint-items-total-count" class="items-total-count"></span> items,
<span id="sprint-items-not-estimated-count" class="items-not-estimated-count"></span> not estimated, 
<span id="sprint-items-effort" class="items-effort"></span>
<%= h Project.current.backlog_unit %>,
<span id="sprint-tasks-count" class="tasks-count"></span> tasks, 
<span id="sprint-tasks-effort" class="tasks-effort"></span>
<%= h Project.current.task_unit %>
