<div class='tag-cloud hidden-controlls' id='tag-cloud'>
  <%= render :partial => 'tags/tag_manage_tags_link' %>
  <%= render :partial => 'tags/tag_cloud_list' %>
  <% old_layout_only do %>
    <span class="tag-cloud-controls">Click tag name to edit</span>
  <% end %>
</div>
