Total: 
<span id="backlog-items-total-count" class="items-total-count"></span> items,
<span id="backlog-items-not-estimated-count" class="items-not-estimated-count"></span> not estimated,
<span id="backlog-items-effort" class="items-effort"></span>
<%=h Project.current.backlog_unit %>
