<p><%= f.label :user_password, "Password" %><br/>
<%= f.password_field :user_password %></p>

<p><%= f.label :user_password_confirmation, "Confirm" %><br/>
<%= f.password_field :user_password_confirmation %></p>
